<div class="{{dialogType}}{{^buttons}} no-buttons{{/buttons}}{{^title}} no-title{{/title}}{{#containerClasses}} {{.}}{{/containerClasses}}">
    {{#toolbar}}
    <header class="{{#classes}} {{.}}{{/classes}}">
      <div class="header">{{{title}}}</div>
      {{^hideClose}}
      <a class="header-action close right js-close{{^layover}} popup-close{{/layover}}">
        <span class="nav-icon-close nav-icon"></span>
      </a>
      {{/hideClose}}
      {{#layover}}
      {{#button}}{{> button}}{{/button}}
      {{/layover}}
    </header>
    {{/toolbar}}

    <div class="popup-content{{#toolbar}} has-toolbar{{/toolbar}}">
      {{> content}}
      {{^layover}}
    </div>
    {{/layover}}

    <div class="popup-buttons{{^buttons}} hide{{/buttons}}">
      {{#buttons}}{{> button}}{{/buttons}}
    </div>

    {{#layover}}
  </div>
  {{/layover}}
</div>
